In [77]:
print("Hello Student! ðŸ‘‹ Superman Session Project 1 à¦¶à§à¦°à§ à¦¹à¦²à§‹")

Hello Student! ðŸ‘‹ Superman Session Project 1 à¦¶à§à¦°à§ à¦¹à¦²à§‹

In [78]:
student = {
    "name": "Arafat",
    "math": 85,
    "eng": 78,
    "science": 92
}
print(student)
print(student["name"])
print(student["math"])

{'name': 'Arafat', 'math': 85, 'eng': 78, 'science': 92}
Arafat
85

In [79]:
students = [
    {"name": "Arafat", "math": 85, "eng": 78, "science": 92},
    {"name": "Nusrat", "math": 90, "eng": 88, "science": 80},
    {"name": "Sakib",  "math": 70, "eng": 60, "science": 75},
    {"name": "Riya",   "math": 93, "eng": 80, "science": 86},
    {"name": "Eti",    "math": 78, "eng": 81, "science": 65}
]

print("à¦®à§‹à¦Ÿ à¦¸à§à¦Ÿà§à¦¡à§‡à¦¨à§à¦Ÿ:", len(students))
print(students)  # à¦¸à¦®à§à¦ªà§‚à¦°à§à¦£ à¦²à¦¿à¦¸à§à¦Ÿ à¦¦à§‡à¦–à¦¾à¦¬à§‡

à¦®à§‹à¦Ÿ à¦¸à§à¦Ÿà§à¦¡à§‡à¦¨à§à¦Ÿ: 5
[{'name': 'Arafat', 'math': 85, 'eng': 78, 'science': 92}, {'name': 'Nusrat', 'math': 90, 'eng': 88, 'science': 80}, {'name': 'Sakib', 'math': 70, 'eng': 60, 'science': 75}, {'name': 'Riya', 'math': 93, 'eng': 80, 'science': 86}, {'name': 'Eti', 'math': 78, 'eng': 81, 'science': 65}]

In [80]:
for s in students:
    s["total"] = s["math"] + s["eng"] + s["science"]

# Check totals
for s in students:
    print(s["name"], "â†’ total:", s["total"])

Arafat â†’ total: 255
Nusrat â†’ total: 258
Sakib â†’ total: 205
Riya â†’ total: 259
Eti â†’ total: 224

In [81]:
highest = -1           # à¦¶à§à¦°à§à¦¤à§‡ à¦–à§à¦¬ à¦›à§‹à¦Ÿ à¦®à¦¾à¦¨
topper_name = ""

for s in students:
    if s["total"] > highest:
        highest = s["total"]
        topper_name = s["name"]

print("Topper:", topper_name, "with", highest, "marks")

Topper: Riya with 259 marks

In [82]:
for s in students:
    print("----- Report Card -----")
    print("Name   :", s["name"])
    print("Math   :", s["math"])
    print("English:", s["eng"])
    print("Science:", s["science"])
    print("Total  :", s["total"])
    print("-----------------------")

print("\nOverall Topper â†’", topper_name, "with", highest)

----- Report Card -----
Name   : Arafat
Math   : 85
English: 78
Science: 92
Total  : 255
-----------------------
----- Report Card -----
Name   : Nusrat
Math   : 90
English: 88
Science: 80
Total  : 258
-----------------------
----- Report Card -----
Name   : Sakib
Math   : 70
English: 60
Science: 75
Total  : 205
-----------------------
----- Report Card -----
Name   : Riya
Math   : 93
English: 80
Science: 86
Total  : 259
-----------------------
----- Report Card -----
Name   : Eti
Math   : 78
English: 81
Science: 65
Total  : 224
-----------------------

Overall Topper â†’ Riya with 259